.card-wrapper ul{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 2rem;
}
ul li{
    list-style-type: none;
}
.card-container{
    width: 200px;
    height: 270px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 1px solid rgb(124, 124, 124);
    border-radius: .5rem;
}
.front, .back{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    position: absolute;
    backface-visibility: hidden;
}

.front{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(red, green, blue, alpha)
}
.back{
    background: url(/card-back.png);
    background-size: cover;
    background-position: center;
    transform: rotateX(180deg);
}

.card-container:hover{
    transform: rotateY(180deg);
}