.overlay{
    position: fixed;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
    /* visibility: hidden;
    opacity: 0; */
}

.modal{
    background: url(/modal-template.png);
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    display: flex;
    width: 670px;
    align-items: center;
    flex-direction: column;
    /* transform: scale(0); */
    transition: transform 0.3s ease;
    gap: 1rem;
    border-radius: 5px;
}

.modal .open{
    transform: scale(1);
}

.overlay .open{
    visibility: visible;
    opacity: 1;
}

.pokeball-animation{
    width: 40px;
    animation: spin 5000ms infinite linear;
}

.play-again{
    margin-top: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.final-score{
    padding-top: 10px;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}